@import '../../../variables';

.add-product-section {
    background-color: white;
    width: 80vw;
    margin: 2rem auto;
    padding: 3rem;
    padding-bottom: 5em;
    border-radius: 10px;

    .form {
        display: flex;
        flex-direction: column;
        width: 33%;
    
        .fc-field {
            margin: 1rem 0;
            display: flex;
            color: $text-color;
    
            &-name {
                flex: 1;
                margin-top: 0.5rem;
            }
    
            &-input { 
                display: flex;
                flex-direction: column;
                flex: 1;
            }
    
            &-value {
                flex: 1;
                padding: 0.5em;
                border: 2px solid $field-outline;
                border-radius: 5px;
            }
    
            &-error {
                color: red;
                margin: 0.25rem 0;
            }
    
            &-required {
                color: red;
            }
        }
    }
    
    .link-group {
        margin: 2em 0 2rem 1rem;
        width: 33%;
        display: flex;
        justify-content: flex-end;

        .link {
            border: 2px solid $text-color-light;
            text-decoration: none;
            padding: 1rem 5rem;
            margin: 0 1rem;
            border-radius: 25px;
            color: $text-color-light;
            background-color: white;
            float: right;
    
            &-cancel {
                margin-left: 0;
            }
    
            &-save {
                background-color: $add-button-blue;
                color: white;
            }
    
            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .add-product-section {
        .link-group, .form {
            width: 100%;
        }
    }    
}

@media (max-width: 400px) and (min-height: 500px) {
    .add-product-section {
        .link-group {
            margin-left: 3rem;
        }
    }    
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .add-product-section {
        .link-group, .form {
            width: 67%;
        }
    }
}