@import '../../../variables';

.add-product-section {
    background-color: white;
    width: 80%;
    margin: 2em auto;
    padding: 3em;
    padding-bottom: 5em;
    border-radius: 10px;

    .form {
        display: flex;
        flex-direction: column;
        width: 33%;
    
        .fc-field {
            margin: 1em 0;
            display: flex;
            color: $text-color;
    
            &-name {
                flex: 1;
            }
    
            &-input { 
                display: flex;
                flex-direction: column;
                flex: 1;
            }
    
            &-value {
                flex: 1;
                padding: 0.5em;
                border: 2px solid $field-outline;
                border-radius: 5px;
            }
    
            &-error {
                color: red;
                margin: 0.25em 0;
            }
    
            &-required {
                color: red;
            }
        }
    }
    
    .link-group {
        margin: 2em 0 2em 1em;
        width: 33%;
        display: flex;

        .link {
            border: 2px solid $text-color-light;
            text-decoration: none;
            padding: 1em 5em;
            margin: 0 1em;
            border-radius: 25px;
            color: $text-color-light;
            background-color: white;
            float: right;
    
            &-cancel {
                margin-left: 0;
            }
    
            &-save {
                background-color: $add-button-blue;
                color: white;
            }
    
            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

// Responsive design mixins
@media (max-width: $screen-xs-max) {
    .add-product-section {
        .form {
            width: 100%;
        }

        .link-group {
            position: relative;
            right: 3em;
            display: flex;

            .link {
                margin: 0;
            }
        }
    }
}

// // Responsive design mixins
// @media (max-width: $screen-xs-max) and (max-height: 500px) {
//     .add-product-section {
//         .link-group {
//            margin-left: 2em;
//         }
//     }
// }
