<div class="meta-table-options">
    <button class="delete-trash" (click)="deleteSelectedItems()">
        <fa-icon [icon]="faTrash" size="lg"></fa-icon> Delete
    </button>
    <div class="search">
        <input class="filter-search" #filterSearch type="text" [(ngModel)]="filterText" (keyup)="filterRows($event)">
        <div class="placeholder">
            <fa-icon [icon]="faSearch"></fa-icon>
            <span>&nbsp;Search</span>
        </div>
    </div>
    <a routerLink="/add-product" class="add-product-link"><fa-icon [icon]="faPlus"></fa-icon> Add New Product</a>
    <button class="table-meta-settings-toggle">
        <fa-icon [icon]="faCog" size="lg" (click)="toggleTableOptionsDisplay()"></fa-icon>
        <div class="table-meta-settings" [ngClass]="{'hide-table-options': !displayTableOptions}">
            <div
            class="draggable-column-names"
            draggable="true" 
            *ngFor="let column of columnDisplayOrder; let i = index;"
            [id]="'column-index-' + i"
            (touchstart)="handleDragStart($event)"
            (touchmove)="handleDrag($event)"
            (touchend)="handleDrag($event, i)"
            (dragstart)="handleDragStart($event)"
            (dragenter)="handleDrag($event)"
            (dragleave)="handleDrag($event)"
            (dragover)="handleDrag($event)"
            (drop)="handleDrag($event, i)">
                <fa-icon [icon]="faBars" size="lg"></fa-icon>
                <input #columnSelectCheckboxes type="checkbox" checked name="{{ column.fieldName }}" id="{{ column.fieldName }}" [(ngModel)]="shownItems[column.fieldName]">
                <label for="{{ column.fieldName }}">{{ column.columnName }}</label>
                <hr *ngIf="i !== columnDisplayOrder.length - 1">
            </div>
            <button class="reset-to-default" (click)="resetColumnOrder()">Reset to Default</button>
        </div>
    </button>
</div>

<table class="list-table" cellspacing="0">
    <thead>
        <th><input #selectAllCheckbox type="checkbox" [indeterminate]="anyRowSelected()" (change)="toggleAllRows()"></th>
        <ng-container *ngFor="let column of columnDisplayOrder">
            <th *ngIf="shownItems[column.fieldName]">{{ column.columnName }}</th>
        </ng-container>
    </thead>
    <tr *ngFor="let product of filteredProductList; let i = index" [attr.data-index]="i">
      <td *ngIf="showCheckbox()">
          <input #rowCheckboxes type="checkbox" (change)="toggleRowSelected(i)">
      </td>
      <ng-container *ngFor="let column of columnDisplayOrder;">
          <td *ngIf="shownItems[column.fieldName]" [ngClass]="{'image-col': column.fieldName === 'imageUrl'}">
              <ng-container [ngSwitch]="column.fieldName">
                <span *ngSwitchCase="'postedDate'">{{ product[column.fieldName] | date : 'MM/dd/yyyy' }}</span>
                <img class="row-image" *ngSwitchCase="'imageUrl'" src="{{ product.imageUrl }}" alt="Image">
                <span *ngSwitchDefault>{{ product[column.fieldName] }}</span>
              </ng-container>
            </td>
      </ng-container>
    </tr>
  </table>
