@import '../../../variables';

input[type="checkbox"] {
    box-shadow: 0 0 0 1px $checkbox-shadow;
}

.hide-table-options {
    visibility: hidden;
}

.meta-table-options {
    width: 80vw;
    margin: 1rem auto;
    background-color: $table-background;
    color: $text-color;

    fa-icon {
        color: $text-color;
    }

    .table-meta-settings {
        position: absolute;
        right: 0;
        padding: 1em;
        box-shadow: 0px 0px 15px 5px $background-color;
        background-color: white;
        width: 10vw;

        .reset-to-default {
            background: white;
            padding: 0.5em 3em;
            border-radius: 25px;
            border: 3px solid $text-color-light;
            color: $text-color-light;
            cursor: pointer;
        }

        .draggable-column-names {
            margin: 1rem 0;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $background-color;
            padding: 0 2em;
            color: $text-color-light;

            label {
                cursor: pointer;
            }

            fa-icon {
                color: $text-color-light;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        &-toggle {
            float: right;
            background: none;
            border: none;
            position: relative;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .delete-trash {
        background: none;
        border: none;
        color: $text-color;

        &:hover {
            cursor: pointer;
        }
    }

    .add-product-link {
        position: relative;
        left: 2vw;
        color: $text-color;
        text-decoration: none;
    }

    .search {
        display: inline-block; 
        position: relative;
        top: 0.25em;
        width: 15%;

        .filter-search {
            border: none;
            border-bottom: 1px solid $text-color;
            width: 100%;
    
            &:focus {
                outline: none;
                border-bottom: 1px solid black;

                &+.placeholder {
                    display: none;
                }
            }
        }

        .placeholder {
            position: absolute;
            top: 20%;
            left: 10%;
            color: $text-color-light;
            pointer-events: none;
        }
    }

    

    button, input {
        margin: 1rem;
    }
}

// Table styles
.list-table {
    color: $text-color;
    background-color: $table-header-background;
    width: 80vw;
    margin: 0 auto 5vh auto;
    clear: both;

    thead {
        background-color: $table-header-background;
        
        th {
            padding: 1em;
            padding-left: 2em;
            text-align: left;
            color: black;
        }
    }

   tr {
       background-color: $table-background;
       padding: 0 2em;

       td {
           padding: 0.5em 1em;
           height: 10vh;

           .row-image {
               max-width: 30%;
           }

           &:first-child {
               padding-left: 2em;
           }

           &.image-col {
               width: 20%;
           }
       }
   }

   thead th,
   tr td {
       border-bottom: 1px solid $table-borders;
   }
}

@media (max-width: $screen-xs-max) {
    .meta-table-options {
        .table-meta-settings {
            width: 33vw;
        }
    }

    .list-table {
        tr {
            td {
                .row-image {
                    max-width: 67%;
                }
            }
        }
    }
}

@media (max-width: $screen-md-max) {
    .meta-table-options {
        .search {
            width: 25%;
        }
        .add-product-link {
            left: 5vw;
        }
    }
}

@media (max-width: $screen-lg-max) {
    .meta-table-options {
        .table-meta-settings {
            width: 20vw;
        }
    }
    .list-table {
        tr {
            td {
                .row-image {
                    max-width: 50%;
                }
            }
        }
    }
}

@media (max-width: $screen-sm-max) and (min-height: 1024px) {
    .meta-table-options {
        .table-meta-settings {
            width: 33vw;
        }
    }
}

@media (orientation: portrait) and (max-width: $screen-xs-max) and (max-height: 900px) {
    .meta-table-options {
        width: 100%;
        .table-meta-settings {
            width: 50vw;
        }
    }
    .list-table {
        width: 100vw;
    }
}