//  Common
$background-color: #E9EFF7;
$text-color: #4D5E6C;
$text-color-light: #8AA1B8;

// Table
$row-background: white;
$table-header-background: #F7FAFC;
$table-background: white;
$checkbox-shadow: #B0CCEB;
$table-borders: #D2E4F7;

// Forms
$add-button-blue: #0073E6;
$field-outline: #B0CCEB;

// Responsive design breakpoints
$screen-xs-max: 768px;
$screen-sm-min: 769px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1440px;
$screen-lg-max: 1919px;