//  Common
$background-color: #E9EFF7;
$text-color: #4D5E6C;

// Table
$row-background: white;
$table-header-background: #F7FAFC;
$table-background: white;
$checkbox-shadow: #B0CCEB;
$table-borders: #D2E4F7;

// Forms
