/* You can add global styles to this file, and also import other style files */
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
}