/* You can add global styles to this file, and also import other style files */
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-size: 16px;
}

@media (orientation: portrait) and (max-width: $screen-xs-max) and (max-height: 900px) {
    body, html {
        font-size: 0.75em;
    }
}